/* ===============Footer================== */
.cmp-adaptiveform-footer{
  color: $dark-gray;
  background-color: $very-light-gray;
  font-size: $font-xsm;
  margin: $field-margin;
  text-align: center;
}
.cmp-adaptiveform-footer__text{
  padding: .5rem 0;
}